 body {margin: 0;font-family: Arial, Helvetica, sans-serif;background-color: mistyrose;}
    header {background-color: firebrick;color: white; text-align: center;padding: 15px 20px;}
    header h1 {margin: 0;font-size: 28px;}
    section {width: 85%;margin: 20px auto;background-color: white;padding: 20px;border-radius: 10px;}
    section h1 {color: red; text-align: center;}
    section p {font-size: 20px;}
    section ul li {font-size: 18px;}
    section ol li {font-size: 20px;}
    .navigation_menu {background-color: darkred;}
    .navigation_menu ul {list-style: none;margin: 0;padding: 0;display:flex;}
    .navigation_menu ul li {padding: 14px 20px;}
    .navigation_menu ul li a {color: white;text-decoration: none;font-weight: bold;}
    .navigation_menu ul li:hover {background-color: darkred;} 
    .container h2 {color: red;}
    .container h4 {text-align: center;}
    .container h4 {font-size: 18px; color: green;}
    .navigation_menu a:hover{ font-weight: bold; font-size:22px}
    .container h3 {color:brown;}
    .container p {font-size: 20px;line-height: 1.7;}
    .container ul li {font-size: 19px;line-height: 1.7;}
    .container ul li em strong {font-size: 20px; color: green;}
    .container ul li strong {font-size: 20px; color: green;}
    .image {text-align: center;margin: 20px 0;}
    .content h2 {color:red; text-align:center;}
    .content p{font-size: 20px;}
    .content ul li {font-size: 20px;}
    .image img {max-width: 100%;border-radius: 10px;}
    .video {text-align: center;margin : 20px 0;}
    .footer {background-color: Darkred;color: white;text-align: center;padding: 12px;margin-top: 30px;}